<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/devices">
      <input type="text" name="device" label="device"></input>
      <input type="text" name="command" label="command"></input>
      <input type="text" name="routine" label="routine"></input>
      <button type="submit"> submit</button>
    </form>
  </body>
</html>
